<a href=<%= "/notes/" + id %> >
  <div class="line">
    <h3 class="title"><%= title %></h3>
    <div class="date"><%= date %></div>
  </div>
  <div class="description">
      <%= description %>
  </div>
</a>
